<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定義日誌訊息的格式 -->
    <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%level] %msg%n</pattern>

    <!-- 設定日誌輸出到指定檔案 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/log/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 取得 Logger 並設定日誌紀錄等級為 INFO -->
    <logger name="test123.a" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

    <!-- 這將日誌輸出到控制台，若您不需要可以移除此段 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
